node_modules/
# Derlenmiş Python dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Ortam değişkenleri
venv/
.venv*
env/
*.env/
.env
# IDE/Editör dosyaları
.vscode/
.idea/

# Sistem dosyaları
.DS_Store
Thumbs.db